.photo-item img {
  width: 50%;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}


h2 {
    text-align: center;
}


#home .photo-item h2 {
  margin-bottom: 0.2em;
 
}

.photo-author {
    text-align: left;
}
.photo-author a {
    font-weight: bold;
}